body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 14px;
    background-color: #f2f2f2;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea, button{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }
  
/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
/* Style the container */
.container {
    border-radius: 5px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
  
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-center {
    text-align: center;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
